absl-py==1.2.0
antlr4-python3-runtime==4.9.3
astor==0.8.1
cachetools==5.2.0
certifi @ file:///opt/conda/conda-bld/certifi_1663615672595/work/certifi
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
colorama==0.4.5
Connectivity==0.0.0
contextlib2==21.6.0
cycler==0.11.0
Cython==0.29.32
dataclasses==0.6
filelock==3.8.0
future==0.18.2
google-auth==2.12.0
google-auth-oauthlib==0.4.6
graphviz==0.8.4
grpcio==1.49.1
h5py==3.7.0
hyperopt==0.1.2
idna==3.4
imageio==2.22.0
imgviz==1.5.1
importlib-metadata==4.12.0
joblib==1.2.0
json-tricks==3.15.5
kiwisolver==1.4.4
logzero==1.7.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.2.2
mxnet==1.9.0
networkx==2.8.6
nni==2.9
numpy==1.21.2
oauthlib==3.2.1
omegaconf==2.2.3
opencv-python==4.5.5.62
packaging==21.3
pandas==1.5.0
Pillow==9.0.1
prettytable==3.4.1
protobuf==3.19.6
psutil==5.9.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydensecrf @ git+https://github.com/lucasb-eyer/pydensecrf.git@0d53acbcf5123d4c88040fe68fbb9805fc5b2fb9
pymongo==4.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
PythonWebHDFS==0.2.3
pytz==2022.2.1
PyWavelets==1.4.1
PyYAML==6.0
requests==2.28.1
requests-oauthlib==1.3.1
responses==0.21.0
rsa==4.9
schema==0.7.5
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.9.1
simplejson==3.17.6
six==1.16.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
threadpoolctl==3.1.0
tifffile==2022.8.12
torch==1.10.1+cu111
torch-tb-profiler==0.4.0
torchaudio==0.10.1+rocm4.1
torchcam==0.3.2
torchvision==0.11.2+cu111
tqdm==4.62.3
typeguard==2.13.3
typing_extensions==4.3.0
urllib3==1.26.12
wcwidth==0.2.5
websockets==10.3
Werkzeug==2.2.2
zipp==3.8.1
